@using DemoMVC.Models
@model ProductViewModel
<tr>
    <td>
        @Model?.Name
    </td>
    <td>
        @Model?.Price
    </td>
    <td>
        @Model?.Quantity
    </td>
    <td>
        <a href="#" class="btn btn-primary">Back</a>
    </td>
</tr>